<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="{{ asset("favicon.ico") }}" />

    <title>Maerlyn Twitter</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ asset("bundles/maerlyntwitter/css/main.css") }}" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path("maerlyn_twitter.homepage") }}">Maerlyn Twitter</a>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>

                <button type="button" class="btn btn-primary btn-sm navbar-btn navbar-right" data-toggle="modal" data-target="#tweet_modal">New tweet</button>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <div class="modal fade" id="tweet_modal" tabindex="-1" data-url="{{ path("maerlyn_twitter.tweet.tweet") }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New tweet</h4>
                </div>
                <div class="modal-body">
                    {{ form_widget(tweet_form.status) }}
                    {{ form_widget(tweet_form.in_reply_to_status_id) }}

                    {{ form_widget(tweet_form._token) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Post</button>
                </div>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="{{ asset("bundles/maerlyntwitter/js/jquery.timeago.js") }}"></script>
    <script src="//cdn.socket.io/socket.io-1.2.1.js"></script>

    <script src="{{ asset("bundles/maerlyntwitter/js/main.js") }}"></script>
</body>
</html>
